.dl_page{
  &.blog_page{
    .text_filter{
      @media(max-width: 1024px){
        display: none;
      }
    }
  }
  section.journal_taxonomy{
    margin-bottom: 10px;
    @media(max-width: 1024px){
      display: none;
    }
    .category_list ul{
      display: flex;
      align-items: center;
      gap: 8px;
      li{
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 12px 20px;
          color: #4D4D4D;
          font-size: 18px;
        }
        &.is-active{
          a{
            color: $ccorp;
          }
        }
      }
    }
  }
  section.blog_page{
    background-color: #F2F6F7;
    @media(max-width: 1024px){
      background-color: transparent;
    }
    .blog_posts_listing{
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      padding: 25px 0;
      @media(max-width: 1024px){
        grid-template-columns: 1fr;
        padding: 0;
      }
      .blog_post{
        width: 100%;
        height: 400px;
        @media(max-width: 1024px){
          height: 360px;
        }
        .read_more{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 3;
          a{
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        figure{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border-radius: 36px;
          background-color: gainsboro;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 36px;
          }
        }
        .article_content{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          padding: 30px;
          @media(max-width: 1024px){
            padding: 20px;
          }
          .post_content{
            .date{
              display: inline-flex;
              align-items: center;
              gap: 10px;
              padding: 6px 14px;
              margin-bottom: 8px;
              border-radius: 44px;
              background-color: $cwhite;
              span{
                font-size: 15px;
                color: #828282;
              }
              svg{
                width: 19px;
                height: 19px;
              }
            }
            .blog_title{
              color: $cwhite;
              font-weight: 700;
              font-size: 22px;
            }
          }
          .post-categories{
            display: flex;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;
            ul{
              display: flex;
              flex-wrap: wrap;
              gap: 10px;
            }
            li{
              a{
                display: inline-flex;
                align-items: center;
                padding: 6px 14px;
                border-radius: 44px;
                background-color: $ccorp;
                color: $cwhite;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
  section.journal_single{
    .post_header{
      .post_header_data{
        padding-right: 100px;
        @media(max-width: 1024px){
          padding-right: 0;
        }
      }
      .post_data{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 10px;
        margin-top: 30px;
        @media(max-width: 1024px){
          margin-top: 0;
          flex-direction: column;
          gap: 10px;
        }
        .post-categories{
          display: flex;
          align-items: center;
          gap: 10px;
          flex-wrap: wrap;
          @media(max-width: 1024px){
            width: 100%;
          }
          ul{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
          }
          li{
            a{
              display: inline-flex;
              align-items: center;
              padding: 6px 14px;
              border-radius: 44px;
              background-color: $ccorp;
              color: $cwhite;
              font-size: 18px;
              @media(max-width: 1024px){
                font-size: 14px;
                border-radius: 30px;
                padding: 5px 10px;
              }
            }
          }
        }
        .data_right{
          display: flex;
          align-items: center;
          gap: 40px;
          font-size: 18px;
          color: #0D151A;
          @media(max-width: 1024px){
            gap: 20px;
            font-size: 12px;
            width: 100%;
          }
          span{
            color: #828282;
          }
        }
        .date{
          display: inline-flex;
          align-items: center;
          gap: 10px;
          @media(max-width: 1024px){
            order: -1;
          }
          span{
            font-size: 15px;
            color: #0D151A;
            @media(max-width: 1024px){
              font-size: 12px;
            }
          }
          svg{
            width: 19px;
            height: 19px;
          }
        }
      }
      .pagetitle{
        margin-bottom: 30px;
        @media(max-width: 1024px){
          font-size: 30px;
          margin-bottom: 10px;
        }
      }
      .ecxerpt{
        margin-bottom: 30px;
        font-size: 22px;
        font-weight: 700;
        color: #4D4D4D;
        @media(max-width: 1024px){
          margin-bottom: 20px;
          font-size: 15px;
        }
      }
    }
    .post_wrap{
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 425px;
      @media(max-width: 1024px){
        grid-gap: 0;
        grid-template-columns: 1fr;
      }
      .form_wrap{
        padding: 20px;
        border-radius: 36px;
        background-color: $ccorp;
        width: 100%;
        .form_title{
          max-width: 80%;
          margin-bottom: 16px;
          font-size: 22px;
          font-weight: 700;
          color: $cwhite;
        }
        .form_items{
          .form_item{
            margin-bottom: 10px;
            input{
              width: 275px;
              border-radius: 22px;
              font-size: 18px;
              color: #808080;
              background-color: $cwhite;
            }
            button{
              width: 161px;
              background-color: $cwhite;
              color: $ccorp;
              font-size: 18px;
              font-weight: 700;
            }
          }
        }
        .note{
          max-width: 80%;
          font-size: 14px;
          color: $cwhite;
        }
      }
      aside{
        @media(max-width: 1024px){
          display: none;
        }
        .contact_form_widget{
          position: sticky;
          top: 100px;
        }
      }
    }
    .post_content{
      color: #4D4D4D;
      font-size: 18px;
      @media(max-width: 1024px){
        font-size: 15px;
      }
      strong{
        color: #0D151A;
      }
      ul{
        margin-bottom: 20px;
        li{
          display: list-item;
          list-style-position: inside;
          list-style-type: disc;
          margin-bottom: 5px;
          &:last-child{
            margin-bottom: 0;
          }
          &::marker{
            margin-right: 10px;
            color: $ccorp;
          }
        }
      }
      ol{
        margin-bottom: 20px;
        li{
          display: list-item;
          margin-bottom: 5px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      h2,h3,h4,h5,h6{
        margin-bottom: 20px;
        font-size: 38px;
        color: #0D151A;
        font-weight: 700;
        @media(max-width: 1024px){
          margin-bottom: 10px;
          font-size: 22px;
        }
      }
      h3{
        font-size: 30px;
        @media(max-width: 1024px){
          font-size: 18px;
        }
      }
      h4,h5,h6{
        margin-bottom: 10px;
        font-size: 22px;
        color: #4D4D4D;
        @media(max-width: 1024px){
          font-size: 16px;
        }
      }
      .journal_text_block{
        .journal_text{
          img{
            width: 100%;
            object-fit: cover;
            border-radius: 36px;
            max-height: 475px;
            @media(max-width: 1024px){
              max-height: 184px;
            }
          }
          blockquote{
            padding: 30px 40px;
            margin: 30px 0;
            box-shadow: 0 8px 30px rgba($ccorp, 0.15);
            border-radius: 36px;
            @media(max-width: 1024px){
              padding: 20px;
              margin: 15px 0;
            }
            &:before,&:after{
              display: none;
            }
            h2,h3,h4{
              color: $ccorp;
              margin-bottom: 10px;
            }
          }
        }
      }
      .journal_table_of_content{
        padding: 20px 0;
        margin-bottom: 50px;
        @media(max-width: 1024px){
          padding: 10px 0;
          margin-bottom: 25px;
        }
        .block_title{
          margin-bottom: 10px;
          font-size: 30px;
          color: $cblack;
          font-weight: 700;
          @media(max-width: 1024px){
            font-size: 22px;
          }
        }
        .table_of_content_wrap{
          ol{
            li{
              margin-bottom: 10px;
              color: #2F80ED;
              @media(max-width: 1024px){
                margin-bottom: 5px;
              }
              &:last-child{
                margin-bottom: 0;
              }
              &::marker{
                color: #2F80ED;
              }
              a{
                font-size: 18px;
                color: #2F80ED;
                text-decoration: underline;
                @media(max-width: 1024px){
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
      .journal_place_for_contact_form_on_mobile{
        .place_for_contact_form_on_mobile{

        }
      }
      .journal_journal_promo{
        margin: 30px 0 50px;
        @media(max-width: 1024px){
          margin: 20px 0 30px;
        }
        .promo_wrap{
          .promo_top{
            display: grid;
            grid-gap: 20px;
            align-items: center;
            grid-template-columns: 183px 1fr;
            margin-bottom: 16px;
            @media(max-width: 1024px){
              grid-gap: 16px;
              grid-template-columns: 1fr;
            }
            figure{
              width: 100%;
              height: 183px;
              img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
              }
            }
            .top_content{
              .promo_title{
                color: #0D151A;
                font-size: 30px;
                font-weight: 700;
                @media(max-width: 1024px){
                  font-size: 22px;
                }
              }
              .promo_short_desc{

              }
            }
          }
          .promo_bottom{
            .promo_desc{
              margin-bottom: 16px;
              strong{
                color: #0D151A;
              }
            }
            .promo_data{
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-wrap: wrap;
              .price{
                display: flex;
                align-items: center;
                gap: 16px;
                @media(max-width: 1024px){
                  flex-direction: column;
                  gap: 0;
                }
                .new{
                  font-size: 30px;
                  font-weight: 700;
                  color: $ccorp;
                  @media(max-width: 1024px){
                    font-size: 22px;
                  }
                }
                .old{
                  font-weight: 700;
                  font-size: 22px;
                  color: #4D4D4D;
                  @media(max-width: 1024px){
                    order: -1;
                    font-size: 18px;
                  }
                }
              }
              .theme_button{
                a{
                  box-shadow: 0 8px 15px rgba($ccorp, 0.3);
                }
              }
            }
          }
        }
      }
    }
  }
}