.dl_page{
  section.promo_list{
    margin-bottom: 80px;
    .section_wrap{
      max-width: 1070px;
      margin: 0 auto;
    }
    .promo_tabs_wrap{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      margin-bottom: 40px;
      background-color: $cgray;
      box-shadow: 0 4px 4px rgba(#8D8D8D, 0.2);
      border-radius: 20px;
      @media(max-width: 1024px){
        flex-direction: column;
        gap: 20px;
      }
      .tabs{
        display: flex;
        align-items: center;
        gap: 12px;
        @media(max-width: 1024px){
          flex-direction: column;
          width: 100%;
          gap: 10px;
        }
        .promo_tab{
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px 10px;
          border-radius: 10px;
          background-color: $cwhite;
          box-shadow: 0 4px 4px rgba(#8D8D8D, 0.2);
          color: $cbase;
          cursor: pointer;
          transition: 0.4s;
          @media(max-width: 1024px){
            width: 100%;
          }
          &:hover{
            background-color: darken($cwhite, 10);
          }
          &.is-active{
            background-color: $ccorp;
            color: $cwhite;
          }
        }
      }
      .all_promo{
        display: flex;
        align-items: center;
        color: $cbase;
        font-size: 16px;
        span{
          margin: 0 10px;
          font-size: 22px;
        }
      }
    }
    .promo_list_wrap{
      .promos{
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(2, 1fr);
        @media(max-width: 1024px){
          grid-gap: 20px;
          grid-template-columns: 1fr;
        }
        .promo_item{
          display: none;
          flex-direction: column;
          border: 1px solid $ccorp;
          border-radius: 20px;
          overflow: hidden;
          height: 100%;
          &.is-active{
            display: flex;
          }
          figure{
            width: 100%;
            height: 100%;
            max-height: 310px;
            margin-bottom: 20px;
            @media(max-width: 1024px){
              max-height: 216px;
            }
            img{
              width: 100%;
              height: 100%;
              max-height: 310px;
              object-fit: cover;
              @media(max-width: 1024px){
                max-height: 216px;
              }
            }
          }
          .promo_content{
            display: flex;
            flex-direction: column;
            padding: 0 30px 40px;
            flex: 1;
            @media(max-width: 1024px){
              padding: 0 20px 20px;
            }
            .promo_title{
              margin-bottom: 30px;
              color: $cbase;
              font-size: 22px;
              @media(max-width: 1024px){
                margin-bottom: 20px;
              }
            }
            .promo_direction{
              margin-bottom: 40px;
              font-size: 14px;
              color: $cdark;
              span{
                color: #231F20;
              }
            }
            .promo_buttons{
              display: flex;
              align-items: flex-end;
              flex: 1;
              margin-top: auto;
              .buttons_wrap{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
              }
              .text_link{
                a{
  
                }
              }
            }
          }
          .promo_date{
            position: absolute;
            background-color: $ccorp;
            color: $cwhite;
            padding: 10px 20px;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}