.dl_page{
  scroll-behavior: smooth;
  .print-link{
    display: none;
  }
  .page-top{
    margin-bottom: 60px;
    @media(max-width: 1024px){
      margin-bottom: 40px;
      padding: 0 20px;
    }
  }
  ul{
    li{
      &:before{
        display: none;
      }
    }
  }

  .custom_swiper{
    overflow: hidden;
  }
  // Tags
  body{
    color: $cbase;
    font-size: 14px;
    font-family: $ffbase, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba($cblack, 0);
  }
  a{
    color: $ccorp;
    text-decoration: none;
    outline: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    &:hover,
    &:focus{
      text-decoration: none;
    }
    &:hover{
      color: $cbase;
    }
    &:focus{
      color: $ccorp;
    }
  }
  // Tags
  // Map
  div.map{
    width: 100%;
    height: 400px;
  }
  // Map
  // SVG stroke for animation
  svg.dashed{
    fill: none;
    path{
      transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    }
    &:hover{
      path{
        stroke-dashoffset: 0 !important;
      }
    }
  }
  // SVG stroke for animation
  // Socials
  div.socials{
    ul{
      @extend .no-list;
      display: flex;
      li{
        margin-right: 15px;
        &:last-child{
          margin-right: 0;
        }
        a{
          @extend .flex;
          width: 20px;
          height: 20px;
          color: $ccorp;
          font-size: 15px;
          &:hover{
            color: $cbase;
          }
        }
      }
    }
  }
  // Socials
  // Container
  div.container{
    max-width: 1344px;
    margin: 0 auto;
    @media(max-width: 1366px){
      max-width: 1280px;
    }
    @media(max-width: 1280px){
      max-width: 1024px;
    }
    @media(max-width: 1024px){
      width: auto;
      padding-left: 20px;
      padding-right: 20px;
    }
    &:before{
      display: none;
    }
    &:after{
      display: none;
    }
  }
  // Container

  // show more
  .morecontent span {
    display: none;
  }
  .morelink {
    display: block;
    color: $cbase;
    font-size: 12px;
    &:hover {
      color: $cred;
    }
  }

  // Mobile fixed button
  .mobile_fixed_button {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: none;
    z-index: 9999;
    @media (max-width: 1024px) {
      display: block;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $cwhite;
      text-transform: uppercase;
      font-size: 18px;
      width: 100%;
      padding: 10px 0;
      background: $ccorp;
    }
  }
  //
  .sidebar_container{
    .container{
      display: grid;
      grid-gap: 16px;
      grid-template-columns: 240px 1fr;
      @media(max-width: 1024px){
        grid-template-columns: 1fr;
      }
      aside{
        @media(max-width: 1024px){
          display: none;
        }
        .diseases_list{
          background-color: $cread;
          padding: 20px;
          border-radius: 3px;
          @media(max-width: 1024px){
            padding: 10px;
          }
        }
        .list_title{
          margin-bottom: 35px;
          a{
            color: $cdark;
            font-weight: 700;
            &:hover{
              color: $cbase;
            }
          }
        }
        ul{
          display: flex;
          flex-direction: column;
          gap: 25px;
          margin: 0;
          margin-bottom: 25px;
          @media(max-width: 1024px){
            gap: 10px;
          }
          &:last-child{
            margin-bottom: 0;
          }
          li{
            a{
              color: $cdark;
              &:hover{
                color: $cbase;
              }
            }
          }
        }
        .question_form{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin: 40px 0;
          padding: 35px 50px 35px 35px;
          border-radius: 3px;
          background-color: $cread;
          @media(max-width: 1024px){
            display: none;
          }
          figure{
            margin-bottom: 13px;
          }
          .desc{
            margin-bottom: 35px;
            font-size: 13px;
            text-align: center;
          }
          .theme_button{
            width: 100%;
            a{
              padding: 15px 0;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .theme_button{
    a{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 15px 50px;
      background-color: $ccorp;
      color: $cwhite;
      border-radius: 8px;
      font-size: 18px;
      @media(max-width: 1024px){
        padding: 10px 35px;
        font-size: 15px;
        text-align: center;
      }
    }
    &.white{
      a{
        background-color: $cwhite;
        color: $cbase;
      }
    }
  }


  .block_title,
  .section_title{
    margin-bottom: 50px;
    font-size: 32px;
    color: $cbase;
    font-weight: 400;
    @media(max-width: 1024px){
      margin-bottom: 25px;
      font-size: 20px;
    }
  }
  .text_block{
    margin-bottom: 60px;
    @media(max-width: 1024px){
      margin-bottom: 20px;
    }
  }
  .section_text{
    font-size: 15px;
    @media(max-width: 1024px){
      font-size: 14px;
    }
    blockquote{
      padding: 25px;
      border-radius: 10px;
      background-color: $cgray;
      color: $cbase;
      margin-bottom: 50px;
      @media(max-width: 1024px){
        padding: 15px;
        margin-bottom: 20px;
      }
      &:before,
      &:after{
        display: none;
      }
      strong{
        font-size: 32px;
        @media(max-width: 1024px){
          font-size: 20px;
        }
      }
    }
    h3{
      font-size: 19px;
      margin-bottom: 25px;
      color: $cbase;
      font-weight: 400;
    }
    &.diseases{
      h3{
        font-size: 32px;
      }
      ol{
        display: flex;
        flex-direction: column;
        gap: 10px;
        counter-reset: ol-counter 0;
        margin-bottom: 25px;
        @media(max-width: 1024px){
          margin-bottom: 15px;
          margin-left: 10px;
        }
        li{
          counter-increment: ol-counter 1;
          &::before{
            content: counter(ol-counter);
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: $ccorp;
            color: $cwhite;
          }
          strong{
            &:first-of-type{
              display: block;
              margin-bottom: 20px;
              margin-left: 50px;
              top: 10px;
            }
          }
        }
      }
      ul{
        padding: 10px 20px 10px 40px;
        background-color: $cgray;
        margin: 0;
        margin-bottom: 25px;
        list-style-type: disc;
        li{
          all: unset;
          display: list-item;
          font-size: 17px;
        }
      }
    }
  }

  .who_works{
    margin-top: 20px;
    .who_works_wrap{
      display: inline-block;
      align-items: center;
      padding: 4px 10px;
      background: #F2F6F7;
      box-shadow: 0px 2px 4px rgba(22, 84, 69, 0.15);
      border-radius: 10px;
      font-size: 15px;
      @media(max-width: 1024px){
        // flex-wrap: wrap;
      }
      .inc{
        margin-right: 10px;
      }
      .text{
        margin-right: 4px;
        color: $cdark;
      }
      .list{
        a{
          color: $ccorp;
        }
      }
    }
  }
}