section.what_doctor_can{
  padding: 60px 0;
  background-color: $cgray;
  margin-bottom: 40px;
  @media(max-width: 1024px){
    padding: 20px 0;
  }
  .section_list{
    margin-top: 50px;
    @media(max-width: 1024px){
      margin-top: 30px;
    }
  }
  &.front_services{
    background-color: transparent;
    padding: 0;
    .section_list{
      padding: 20px;
      margin-top: 40px;
      border-radius: 10px;
      background-color: $cgray;
      @media(max-width: 1024px){
        margin-top: 20px;
      }
      .alfabet_list{
        .alfabet_item{
          display: flex;
          gap: 10px;
        }
      }
    }
  }
  .services_tabs{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 42px;
    margin-top: 20px;
    @media(max-width: 1024px){
      gap: 10px;
    }
    .tab_item{
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      min-width: 180px;
      padding: 15px 20px;
      background-color: #F2F6F7;
      font-size: 19px;
      color: #666666;
      cursor: pointer;
      transition: 0.4s;
      @media(max-width: 1024px){
        padding: 7px 10px;
        min-width: max-content;
        font-size: 16px;
      }
      &.is-active{
        background-color: $ccorp;
        color: $cwhite;
      }
      &:hover{
        background-color: lighten($ccorp, 20);
      }
    }
  }
}
.alfabet_list{
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(4, 1fr);
  @media(max-width: 1280px){
    grid-template-columns: repeat(3, 1fr);
  }
  @media(max-width: 1024px){
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  @media(max-width: 768px){
    grid-gap: 15px;
    grid-template-columns: 1fr;
  }
  &.filtered{
    grid-template-columns: 1fr;
    .alfabet_item{
      display: none;
      .alfabet_title{
        display: none;
      }
      &.filter-is-active{
        display: block;
        width: 100%;
        .alfabet_services{
          ul{
            display: grid;
            grid-gap: 50px;
            grid-template-columns: repeat(4, 1fr);
            @media(max-width: 1280px){
              grid-template-columns: repeat(3, 1fr);
            }
            @media(max-width: 1024px){
              grid-gap: 30px;
              grid-template-columns: repeat(2, 1fr);
            }
            @media(max-width: 768px){
              grid-gap: 15px;
              grid-template-columns: 1fr;
            }
          }
        }
      }
    }
  }
  .alfabet_item{
    &.text_filter{
      display: none;
    }
    .alfabet_title{
      .letter{
        margin-bottom: 30px;
        font-size: 30px;
        color: $ccorp;
        @media(max-width: 1024px){
          font-size: 20px;
          margin-bottom: 15px;
        }
      }
    }
    .alfabet_services{
      ul{
        @extend .no-list;
        display: flex;
        flex-direction: column;
        gap: 2px;
        li{
          a{
            display: inline-flex;
            padding: 2px 4px;
            font-size: 14px;
            color: $cdark;
            transition: 0.4s;
            border-radius: 8px;
            &:hover{
              background-color: $ccorp;
            }
          }
        }
      }
    }
  }
  &.tab_content{
    display: none;
    &.is-active{
      display: grid;
    }
  }
}