section.vrachi_banner_list{
  margin-bottom: 40px;
  margin-top: 50px;
  .banners_slider{
    .swiper-wrapper{
      display: flex;
      align-items: stretch;
    }
    .swiper-slide{
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 2fr;
      background-color: rgba($ccorp, 0.5);
      border-radius: 20px;
      height: auto;
      @media(max-width: 1024px){
        grid-gap: 0;
        grid-template-columns: 1fr;
      }
      figure{
        @media(max-width: 1024px){
          display: flex;
          justify-content: center;
        }
        img{

        }
      }
      .banner_content{
        padding: 50px 140px 50px 60px;
        @media(max-width: 1024px){
          display: flex;
          flex-direction: column;
          padding: 20px 20px 60px;
        }
        .banner_title{
          padding-bottom: 20px;
          margin-bottom: 20px;
          font-size: 31px;
          border-bottom: 2px solid $cbase;
          color: $cbase;
          @media(max-width: 1024px){
            font-size: 20px;
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 15px;
          }
        }
        .banner_text{
          margin-bottom: 35px;
          font-size: 16px;
          color: $cdark;
          @media(max-width: 1024px){
            margin-bottom: 20px;
            font-size: 12px;
            line-height: 19px;
          }
        }
        .promo_date{
          margin-top: 20px;
          font-size: 12px;
          color: #666666;
          @media(max-width: 1024px){
            order: -1;
            margin-top: 0;
            margin-bottom: 10px;
          }
          
        }
        .theme_button{
          a{
            @media(max-width: 1024px){
              width: 100%;
            }
            
          }
        }
      }
    }
  }
  .swiper-pagination-banner_list{
    display: flex;
    gap: 10px ;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    z-index: 99;
    @media(max-width: 1024px){
      bottom: 20px;
    }
    .swiper-pagination-bullet {
      width: 16px;
      height: 16px;
      background-color: $cwhite;
      opacity: 1;
      margin: 0;
      &.swiper-pagination-bullet-active{
        background-color: $ccorp;
      }
    }
  }
}