section.vrachi_price{
  margin-bottom: 40px;
  .price_table{
    .table_title{
      padding: 20px 10px;
      color: $cwhite;
      font-size: 18px;
      background-color: #A2A1A1;
    }
    table{
      width: 100%;
      thead{
        tr{
          display: flex;
          justify-content: space-between;
          padding: 0 40px;
          border-bottom: 1px solid $cdark;
          @media(max-width: 1024px){
            padding: 0 0;
          }
          th{
            display: flex;
            align-items: center;
            height: 60px;
            font-weight: 700;
            &:last-child{
              text-align: end;
            }
          }
        }
      }
      tbody{
        padding: 0 40px;
        @media(max-width: 1024px){
          padding: 0 0;
        }
        tr{
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 0 40px;
          @media(max-width: 1024px){
            padding: 0 0;
            border-bottom: 1px solid rgba($cbase, 0.3);
          }
          td{
            // height: 60px;
            display: flex;
            align-items: center;
            padding: 10px 0;
            @media(max-width: 1024px){
              font-size: 14px;
            }
            &:last-child{
              font-weight: 700;
              text-align: end;
              min-width: 65px;
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}