section.faq{
  margin-bottom: 40px;
  .faq_list{
    .faq_item{
      border-bottom: 1px solid rgba($cdark, 0.2);
      padding: 10px 0;
      .faq_question{
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        span{
          font-size: 26px;
          color: $ccorp;
        }
        i{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 38px;
          height: 38px;
          background-color: $ccorp;
          color: $cdark;
          transition: 0.4s;
        }
      }
      .faq_answer{
        padding-top: 30px;
        display: none;
        font-size: 14px;
        color: $cdark;
      }
      &.is-active{
        .faq_question{
          i{
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}